/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-mkam-block-wrapper  {
	background: rgba($gray, 0.5);
	margin: 0 auto;
	max-width: 740px;
	padding: 2rem;
}
